DATABASE_URL="file:./dev.db"
PORT=4000
ALLOWED_ORIGINS=http://192.168.9.106:3000
JWT_SECRET=capital_marketplace
UPLOADS_DIR=/tmp/uploads
MAX_UPLOAD_SIZE_BYTES=8000000
NODE_ENV=development
KNOCK_API_KEY=sk_test_Vv7XIlp7W61R8p1R9uRqVjRtIe5bsRJuRnrEDUJ5KpI
KNOCK_WORKFLOW_ID=captital-marketplace
